body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

.header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header,
.section-1
.section-2,
.section-3,
.section-4,
.footer {
    padding: 16px 6em;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-links a {
    text-decoration: none;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: column;
    
}

.section-1 {
    display: flex;
    background-color: #1F2937;
    padding: 3em 6em;

}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px 0;
}

.hero-main-img {
    color: white;
    background-color: gray;
    align-self: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.sign-up {
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: 800;
}

.section-2 {
    background-color: white;
}

.information {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding-top: 1em;
}

.photo-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin: 1em;
}

figure {
    padding: 0;

}

.photo {
    border: 3px solid #3882F6;
    border-radius: 10px;
}

figcaption {
    text-align: center;
}

.photo,
figcaption {
    width: 150px; 
    padding: 0;
}

.section-3 {
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px; 
    margin: 16px 1em;
}

.author {
    font-size: 20px; 
    font-weight: bold;  
    text-align: right;
    margin: 16px 3em;
}

.section-4 {
    background-color: white;
}

.call2action {
    display: flex;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 3em;
    margin: 16px 5em;
    justify-content: space-between;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}