body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header,
.section-2,
.section-3,
.section-4,
.footer {
    padding: 16px 5em;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-links a {
    text-decoration: none;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: column;
    
}

.section-1 {
    display: flex;
    background-color: #1F2937;
    padding: 3em 5em;

}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px 0;
}

.hero-main-img {
    color: white;
    background-color: gray;
    align-self: center;
    width: 200px;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
}

.sign-up {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: 800;
}

.section-2 {
    background-color: white;
}

.photo-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

figure {
    /* border: 3px solid #3882F6; */

}

.photo {
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

figcaption {
    text-align: center;
}

.section-3 {
    background-color: #E5E7EB;
}

.section-4 {
    background-color: white;
}